
.App{
  display: flex;
  gap: 20px;
  background: url(../assets/images/bg-stars.svg);
  background-color: #26222e;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.counter{
  display: flex;
  gap: 20px;
  position: relative;
}
.App span{
  font-size: 62px;
  color: #973929;
  font-weight: bold;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #423b50;
  
}
.days, .hour, .min, .sec{
  position: relative;
}
.App p{
  position: absolute;
  font-size: 18px;
  color: #423b50;
  font-weight: bold;
  top: 70px;
  
}
.days p{
  left: 50px;
}
.hour p{
  left: 40px;
}
.min p{
  left: 35px;
}
.sec p{
  left: 40px;
}
.image{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.inputs-date{
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.inputs-date p{
  position: absolute;
  top: -50px;
  color: #fff;
  font-size: 30px;
}
input[type="datetime-local"]{
  height: 40px;
  background-color: #423b50;
  border: #26222e;
  padding: 0px 10px;
  font-size: 18px;
  color: #fff;
}

.icons{
  position: absolute;
  bottom: 10px;
  z-index: 4;
  left: 50%;
  display: flex;
  gap: 40px;
  transform: translate(-50%, -50%);
}
.icons img{
  width: 20px;
  height: 20px;

}
.icons a{
  border: 1px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .App span{
    font-size: 20px;
    margin-left: 5px;
  }
  .counter{
    gap: 5px;
  }
  .App p{
    position: absolute;
    font-size: 16px;
    color: #423b50;
    font-weight: bold;
    top: 20px !important;
    
  }
  .days, .hour, .min, .sec{
    position: relative;
    
  }
  .days p{
    left: 20px;
  }
  .hour p{
    left: 15px;
  }
  .min p{
    left: 7px;
  }
  .sec p{
    left: 7px;
  }
  .icons{
    left: 50%;
  }
  .icons a{
    padding: 2px;
    width: 30px;
    height: 30px;
  }
  .inputs-date p{
    top: -40px !important;
    color: white;
  }
  ._qWTcH {
    --fcc-flip-duration: 0.7s;
    --fcc-digit-block-width: 30px !important ;
    --fcc-digit-block-height: 60px !important ;
    --fcc-digit-font-size: 30px !important;
    --fcc-label-font-size: 14px !important ;
    --fcc-label-color: #7c6d6d;
    --fcc-background: #433e4b;
    --fcc-digit-color: #b37474;
    --fcc-divider-color: hsla(0, 0%, 100%, 0.4);
    --fcc-divider-height: 1px;
    --fcc-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
    --fcc-separator-size: 0px;
    --fcc-separator-color: var(--fcc-digit-color);
    font-family: inherit;
    font-size: var(--fcc-digit-font-size);
    color: var(--fcc-digit-color);
    line-height: 0;
    font-weight: bolder;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    display: flex;
    align-items: center;
  }
}

._qWTcH {
  --fcc-flip-duration: 0.7s;
  --fcc-digit-block-width: 106px ;
  --fcc-digit-block-height: 180px ;
  --fcc-digit-font-size: 100px ;
  --fcc-label-font-size: 20px ;
  --fcc-label-color: #7c6d6d;
  --fcc-background: #433e4b;
  --fcc-digit-color: #b37474;
  --fcc-divider-color: hsla(0, 0%, 100%, 0.4);
  --fcc-divider-height: 1px;
  --fcc-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  --fcc-separator-size: 0px;
  --fcc-separator-color: var(--fcc-digit-color);
  font-family: inherit;
  font-size: var(--fcc-digit-font-size);
  color: var(--fcc-digit-color);
  line-height: 0;
  font-weight: bolder;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
  display: flex;
  align-items: center;
}
._1tbqx ._3cpN7 {
  margin-bottom: calc(var(--fcc-label-font-size) * 2);
}
._3cpN7 ._2EBbg:not(:last-child) {
  margin-right: 0px;
}
._3cpN7 {
  position: relative;
  display: flex;
  align-items: center;
}
._2aOn7 {
  color: var(--fcc-label-color);
  line-height: 1;
  font-weight: 400;
  font-size: var(--fcc-label-font-size);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 150%);
}
._2EBbg {
  perspective: 200px;
  position: relative;
  width: var(--fcc-digit-block-width);
  height: var(--fcc-digit-block-height);
  box-shadow: var(--fcc-shadow);
  border-radius: 4px;
}
._106d2,
._SKh-V {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: var(--fcc-background);
}
._SKh-V {
  align-items: flex-end;
  top: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color);
}
._106d2 {
  align-items: flex-start;
  bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
._3luxx {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 50%;
  transform-style: preserve-3d;
  transform-origin: bottom;
  transform: rotateX(0);
}
._3luxx._2kgZC {
  transition: transform var(--fcc-flip-duration) ease-in-out;
  transform: rotateX(-180deg);
}
._2v-d4 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  backface-visibility: hidden;
  background: var(--fcc-background);
}
._1GZQ7 {
  align-items: flex-end;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: var(--fcc-divider-height) solid var(--fcc-divider-color);
}
._3AVXa {
  align-items: flex-start;
  transform: rotateX(-180deg);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
._2hRXr {
  margin-left: 8px;
  margin-right: 8px;
  height: var(--fcc-digit-block-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._1tbqx ._2hRXr {
  margin-bottom: calc(var(--fcc-label-font-size) * 2);
}
._2hRXr:after,
._2hRXr:before {
  content: "";
  width: var(--fcc-separator-size);
  height: var(--fcc-separator-size);
  border-radius: 50%;
  background-color: var(--fcc-separator-color);
}
._2hRXr:before {
  margin-bottom: var(--fcc-separator-size);
}



@media (max-width: 920px) {
  ._qWTcH {
    --fcc-flip-duration: 0.7s;
    --fcc-digit-block-width: 46px;
    --fcc-digit-block-height: 80px;
    --fcc-digit-font-size: 42px;
    --fcc-label-font-size: 20px;
  }
}